/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./assets/sky.jpg');
  width: 100%;
  color: white;
  font-family: Helvetica, sans-serif;
}
